.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* CSS for stacked bar chart starts here */
svg {
  display: block;
  width: 100%;
  height: 300px;
  background: #f7f7f7;
  overflow: visible;
}

svg rect.selection {
  stroke: none;
}

.links{
  text-decoration: none;
  padding: 20px;
}

#root {
  max-width:100vw;
  margin: 0px 0;
   /* display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;  */
  height: 100vh;
  padding: 0 50px 150px; 
  text-align: center;
  box-sizing: border-box;
} 

.stacked-bar-chart{

}

button {
  width: 100px;
  border: 1px solid black;
  margin: 0 auto 5px;
}

video {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  width: 100%;
}

.field {
  display: inline-block;
  margin: 0 0.5em;
}

.field input {
  margin-right: 0.5em;
}


.field2 {
  
  display: inline-block;
  margin: 0 0.5em;
}

/* CSS for stacked bar chart ends here */



/* CSS for  bar chart starts here */
.bar-chart-layout
svg {
  /* background: #eee; */
  overflow: visible;
  display: block;
  width: 100%;
  margin-top: 200px;
  margin-left: 300px;
  text-align: center;
}


/* CSS for  bar chart ends here */




/*Css for pie chart starts here*/
.piechart{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 450px;;
}
/*Css for pie chart ends here*/
